@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Atma:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    color: black;
    font-family: "Architects Daughter", cursive;
}

html{
    background-image: url('https://images.unsplash.com/photo-1578916171728-46686eac8d58?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    
}
/* body{
    background-color: rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    margin: 20px;
    padding: 5%;
    width: min-content;
    border-radius: 15px; 
}*/
#trash{

}


body {
    /* background-color: rgb(255 255 255 / 50%); */
    
    background-color: rgba(243, 243, 238, 0.8);
    backdrop-filter: blur(4px);
    margin: auto; 
    /* margin: 25% 20% 25% 20%; */
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 black;
    
}
#clear{
    display: block;
    margin:auto;
}
div{
    width: 100%;
    border-radius: 15px;
}
ul{
    padding-inline-start: 0;
    max-height: 500px;
    overflow: auto;
    scrollbar-color: rgba(223, 178, 127, 0.336) transparent;
}
/* ul::-webkit-scrollbar{
    overflow: auto;
    background: transparent;
    width: 40px;
}
ul::-webkit-scrollbar-thumb{
    background: rgba(223, 178, 127, 0.336);
    border-radius: 5px;
    width: 10px;
}

ul::-webkit-scrollbar-corner{
    display: none;
} */
li {
    margin-bottom: 6px;
    padding: 3px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(223, 178, 127, 0.336);
    min-height: 40px;
}

button, input, li{
    font-size: 1.5rem;
    border-radius: 5px;
}
button{
    background: rgb(0 0 0 / 85%);
    color: white;
}

footer{
    width: 70%;
    text-align: center;
}
footer a{
    text-decoration: none;
    font-weight: bolder;
}

.item{
    flex: 1;
    margin-right: 5px;
}

#title{
    margin-top: 0;
}

.material-symbols-outlined{
    vertical-align: middle;
}

#trash{
    color: red;
   
}
